.name-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 64px;
  height: 64px;
}

.connection-status-icon {
  font-size: 20px;
}

p.user-status-looking-for-friend {
  color: var(--ion-color-secondary-shade);
}

p.user-status-willing-to-help {
  color: var(--ion-color-primary-shade);
}
